<!DOCTYPE html>
<head>
	<title>File Server</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<input id="username" type="text">
	<input id="password" type="text">
	<button id="login-button">Login</button>
	<button id="register-button">Register</button>

	<form id="upload-form" method="POST" enctype=multipart/form-data >
      <input id="file-form" type=file name=file>
      <input type="submit">Upload
    </form>
    <button id="view-files">View Files</button>
    <ul id="files-list">
    </ul>
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/token.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/viewFiles.js') }}"></script>

</body>